use crate::utils;

pub fn day(test: bool) {
    println!("{}", ex1(test));
    println!("{}", ex2(test));
}

pub fn ex1(test: bool) -> i32 {
    let lines = utils::read_input(, test).expect("Should have been able to read the file");
    for line in lines {}
    0
}

pub fn ex2(test: bool) -> i32 {
    let lines = utils::read_input(, test).expect("Should have been able to read the file");
    for line in lines {
    }
    0
}
